aside#movie-form {
  display: none;
  position: absolute;
  z-index: 1;
  margin: 10px;
  padding: 0;
  width: 25%;
  text-align: left;
}
aside#movie-form input,
aside#movie-form select {
  display: block;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #F9F9F9;
}
aside#movie-form select {
  border: none;
}
/*==============BUTTON STYLES=====================*/
button:hover {
  cursor: pointer;
}
#toggle-movie-form,
aside button {
  background-color: rgba(255, 204, 0, 0.3);
  margin: 15px;
  padding: 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  border: 2px solid #666;
}
#toggle-movie-form:hover,
aside button:hover {
  background-color: #FFCC00;
  color: #FFF;
  border: 2px solid #FFF;
}
/*===================================*/
#message-from-movie-form {
  position: absolute;
  left: 277px;
  top: 66px;
  z-index: 1;
  font-size: 24px;
  font-family: sans-serif;
  color: #fff;
  background-color: #aaa;
  padding: 10px;
  border: 2px solid #fff;
  box-shadow: 3px 3px 10px rgba(161, 112, 82, 0.94);
  /* Animation */
  animation-name: fade-out;
  animation-duration: 3.5s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
