@import url(http://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,latin);

*{
	margin: 0;
	padding: 0;
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

body{
	background: grey url("../img/CLP_chipped_paint_wall3.png") repeat; 
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-size: 18px;
	color: #333;
}

#wrapper{
	width: 1024px;
	margin: 20px auto;
	background-color: rgba(204, 204, 204, 0.8);
	text-align: center;
	box-shadow: 11px 11px 11px rgba(0,0,0,0.5);
}

/*h1, h2{
	padding: 15px;
}*/

svg[height="100"]{
	width:700px;
	height:100px;
	margin: 0 auto;
}

#app-title{
	width:100%;
	height:90px;
	padding: 10px 0 30px 0;
}

ul{
	margin: 10px auto;
	height:100px;
	list-style-type: none;
	text-align: center;
}

li{
	display:inline-block;
	background-color: #FFA366;
	width: 100px;
	min-height: 100px;
	box-shadow: 3px 3px 12px rgba(0,0,0,0.7);
	transition: background-color 0.3s ease-out;
	-webkit-transition: background-color 0.3s ease-out;
 	-moz-transition: background-color 0.3s ease-out;
  	-o-transition: background-color 0.3s ease-out;
}

li:hover{
	background-color: #666;
	color: white;
	cursor: pointer;
}

li span{
	min-width: 100px;
	height: 100px;
	display:table-cell;
	vertical-align : middle;
}

/*==============BUTTON STYLES=====================*/

button:hover{
	cursor:pointer;
}

#toggle-movie-form, aside button{
	background-color: rgba(255, 204, 0, 0.3);
	margin: 15px;
	padding: 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	font-size: 16px;
	transition: background-color 0.3s ease-out;
	-webkit-transition: background-color 0.3s ease-out;
 	-moz-transition: background-color 0.3s ease-out;
  	-o-transition: background-color 0.3s ease-out;
	border:2px solid #666;
}

#toggle-movie-form:hover, aside button:hover{
	background-color: #FFCC00;
	color:#FFF;
	border: 2px solid #FFF;
}

}
aside{
	margin:10px;
}

aside input{
	padding:5px;
	font-size: 16px;
	border-radius: 5px;
	background-color: #F9F9F9;
}

select{
	font-size: 16px;
	background-color: #F9F9F9;
	border: none;
}


/*===================================*/

aside#movie-form{
	display: none;
	position: relative;
	padding: 0;
}

#message-from-movie-form {
	position: absolute;
	left: 277px;
	top: 66px;
	z-index: 1;

	font-size: 24px;
	font-family: sans-serif;
	color: #fff;
	background-color: #aaa;
	padding: 10px;
	border: 2px solid #fff;
	box-shadow: 3px 3px 10px rgba(161, 112, 82, 0.94);
	
	/* Animation */
	animation-name: fade-out;
	animation-duration: 3.5s; 
	animation-timing-function: ease-out; 
	animation-delay: 1.5s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	animation-play-state: running; 
}

#content{
	height: 600px;
	position: relative;
}

#radar-chart-legend-container {
	width: 267px;
	height: 350px;
	text-align: left;
	position: absolute;
	left: 790px;
	top: 50px;
 }

#radar-chart-legend-container button {
	display: block;
	margin-top: 3px;
	width: 45px;
	height: 35px;
	position: relative;
	left: 178px;
}

ul.radar-legend {
	width: 50px;
}

ul.radar-legend li {
	margin: 10px;
}

input.radar-chart-text-inputs {
	width: 220px;
	margin-top: 3px;
	line-height: 34px;
	font-size: 18px;
} 

#svg-holder{
	display: none;
	width: 1024px;
	height: 600px;
}

/*
#bubble-holder{
	display: none;
	width: 1024px;
	height: 600px;
}
*/

svg{
	width: 1024px;
	height: 600px;
}

footer{
	padding-top: 30px;
	padding-bottom: 20px; 
}


svg[height="100"]{
	width:700px;
	height:100px;
	margin: 0 auto;
}

#app-title{
	width:100%;
	height:90px;
	padding: 10px 0 30px 0;
}