@import url(http://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,latin);

*{
	margin: 0;
	padding: 0;
}

body{
	background: grey url("../img/CLP_chipped_paint_wall3.png") repeat; 
	font-family: 'Roboto', 'Helvetica', sans-serif;
	color: #333;
}

#wrapper{
	width: 1024px;
	margin: 50px auto;
	background-color: rgba(204, 204, 204, 0.8);
	text-align: center;
}

h1, h2{
	padding: 15px;
}

ul{
	margin: 10px auto;
	height:100px;
	list-style-type: none;
	text-align: center;
}

li{
	display:inline-block;
	background-color: #FFA366;
	width: 100px;
	min-height: 100px;
}

li:hover{
	background-color: grey;
	color: white;
	cursor: pointer;
}

li span{
	min-width: 100px;
	height: 100px;
	display:table-cell;
    vertical-align : middle;
}
#content{
	height: 600px;
}

#svg-holder{
	display: none;
	width: 1024px;
	height: 600px;
}

svg{
	width: 1024px;
	height: 600px;
}

footer{
	padding-top: 30px;
	padding-bottom: 20px; 
}

aside#movie-form{
	position: 'absolute';
	padding: 0;
	top: 500px;
	left:0;
}